{% extends "layout.html"%}
    {% block content%}
    <h3>About Share</h3> 
    <h3 style="text-align:center"></h3> 
<br><br>
<p>The main purpose of education is to strengthen your mind so
                      that you can more easily learn to deal with specific challenges you will face throughout your life.
                      In order to succeed in academical education, it's important for students to have a firm grasp of each subject.
                      There are many ways to do that. We believe a website called share will help students to find the most important resources 
		      and share their resources for other students.</p>
{% endblock %}
